.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 70%
    left: 0
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 30%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

.banner-principal__row .banner-principal__img
  width: 400px !important
  padding-bottom: 0 !important


.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important
.banner-interno__fondo
  background-image: url("../assets/curso/banner_interno.png") !important
.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-sm)
    background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important
  @media screen and (max-width: $bp-max-md)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important

.bg-terciario-t20
  background-color: $color-terciario-t20
.bg-primario-p20
  background-color: $color-primario-p20
.bg-primario-p10
  background-color: $color-primario-p10
.bg-amarillo-claro
  background-color: #FDF0CC
.bg-azul-claro
  background-color: #EEF2FD
.bg-azul-medio
  background-color: #E0E8FC
.bg-acento-contenido-a5
  background-color: $color-acento-contenido-a5
.bg-acento-botones-a5
  background-color: $color-acento-botones-a5
.bg-acento-botones-a10
  background-color: $color-acento-botones-a10
.bg-acento-botones-a20
  background-color: #FFEDB9

.img-65
  width: 65px
  margin: 0 auto
.img-72
  width: 72px
  margin: 0 auto
.img-85
  width: 85px
  margin: 0 auto
.img-90
  width: 90px
  margin: 0 auto
.img-113
  width: 113px
  margin: 0 auto
.img-265
  width: 265px
  margin: 0 auto

.banner-text
  background-color: #FCEDF9
  border-radius: 10px
  padding: 20px 30px
  margin-top: -40px

  @media (min-width: 992px)
    margin-top: -100px
  
  &--azul
    background-color: #EEF2FD

.custom-tabs
  .tabs-a
    .tabs-a__tab
      background-color: $color-terciario-t20
    .tabs-a__tab__selected
      background-color: $color-acento-botones
    .tabs-a__content-item
      height: -webkit-fill-available
    @media (min-width: 1200px) 
      .row
        .col-xl-3 
          flex: 0 0 auto
          width: 30%
        .col-xl-9
          flex: 0 0 auto
          width: 70%
    @media (min-width: 992px) 
      .row
        .col-lg-4 
          flex: 0 0 auto
          width: 35%
        .col-lg-8 
          flex: 0 0 auto
          width: 65%
  &--ancho
    .tabs-a
      @media (min-width: 992px) 
        .row
          .col-lg-4 
            flex: 0 0 auto
            width: 40%
          .col-lg-8 
            flex: 0 0 auto
            width: 60%

.custom-mh
  height: -webkit-fill-available

.fullwidth-bg
  display: none
  position: relative
  z-index: 0

  @media (min-width: $bp-min-lg)
    display: block

  &--1::after
    top: 80px
    left: -50px
    position: absolute
    content: url('../assets/curso/common/bg-1.png')

  // &--2::after
  //   top: 100px
  //   left: -50px
  //   position: absolute
  //   content: url('../assets/curso/common/bg-2.png')

.z-2
  z-index: 2
  position: relative

.factores-slider
  &__tarjeta
    border-radius: 14px
    height: 97% !important
    filter: drop-shadow(1px 1px 2px #00000010)
    background-color: #F6F6F6
    
  &__icon 
    max-width: 239px
    margin-bottom: 10px
    max-height: 110px
    aspect-ratio: 1/1
  
  &__title-wrapper
    text-align: center

  &__title
    background-color: $color-acento-contenido-a5
    padding: 10px 20px
    display: block
    font-size: 17px

  &__number
    color: $color-secundario
    font-size: 30px
    
    &.color-acento-contenido
      color: $color-acento-contenido
      margin-bottom: 10px

  .slyder-f
    align-items: center
    border-radius: 20px

    .slyder-f__main
      width: 70%

      @media (min-width: 769px)
        width: 80%

  .slyder-f__btn
    height: 35px
    width: 35px
    max-width: 35px
    background-color: $color-acento-botones
    border-radius: 50%
    padding: 0 !important
    margin: 0 auto
    color: $white
    .fa-chevron-left
      font-size: 20px
    .fa-chevron-right
      font-size: 20px

  &--azul
    .factores-slider__tarjeta
      background-color: #DEEAFF
.acordion__accion__btn--a
  background-color: $color-acento-botones

.accesibilidad
  z-index: 3

.tabs-b__content-item
  background-color: #EEF2FD

.icon-left
  position: absolute
  top: 50%
  left: 0
  transform: translate(-50%, -50%)

.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)

  .crd_hover_txt--body
    position: absolute
    padding: 1.2rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    background-color: #E0E8FC
    transform: translateY(calc( 100% - 3.84rem ))
    &.long-title
      transform: translateY(calc( 100% - 5.15rem ))
      &:hover
        transform: translateY(0)
      &--small
        @media (max-width: 375px)  
          transform: translateY(calc( 100% - 5.15rem ))
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em

.custom-hover
  .crd_hover_txt--body
    background-color: #F1F3FB
    &:hover
      background-color: #FCEDF8


.linea-tiempo-c__header__btn--right,
.linea-tiempo-c__header__btn--left
  background-color: $color-acento-botones
  color: $white

.bg-linea-tiempo
  position: relative
  z-index: 0
  &::before
    content: ''
    position: absolute
    top: -50px
    bottom: -50px
    right: -50px
    left: -50px
    background-image: var(--bg-image)
    background-size: cover
    background-position: center
    z-index: -1

.mb-6
  margin-bottom: 6rem

.lista-ul.custom-list
  .lista-ul__vineta
    top: -2px !important
    &:before
      content: url('../assets/curso/common/list-disc.svg')

  &--checklist
    .lista-ul__vineta
      top: 4px !important
      margin-bottom: 10px
      &:before
        content: url('../assets/curso/common/checklist.svg')

.custom-tarjeta-numerada
  .tarjeta-numerada
    border-width: 4px
    div
      background-color: #E1E7FB !important
    
  .tarjeta-numerada__numero
    border: solid 4px white !important
    transform: translate(-50%, -50%)
    left: 0
    top: 0
    
  &__mod
    .tarjeta-numerada__numero
      border: solid 4px white !important
      transform: translate(-50%, -50%)
      left: 0
      top: 50%
      width: 84px
      height: 84px
    .icon-tarjeta-numerada
      right: 0
      top: 50%
      transform: translate(-10%, -50%)

.custom-puntos-calientes
  .img-infografica-b__modal__contenido div > *
    color: $color-sistema-texto !important

  .img-infografica-b__modal
    background-color: rgba(0, 0, 0, 0.7)

.bg-azul-medio.acordion__activo
  background-color: #F4F5F6 !important

.border-secundario
  border: 3px solid $color-secundario !important

.custom-avatar
  .tarjeta-avatar
    padding-top: 10px
    margin-left: 15%
    img
      left: 0
      top: 0
      transform: translate(-50%, -10%)

    .tarjeta
      padding-top: 10px !important
      padding-left: 40px !important

//CLASES TITULOS//
.titulo-con-imagen
  display: flex
  align-items: center
  position: relative
.titulo-con-imagen__fondo
  background-color: #EAE7F0
  border-radius: 20px
  padding: 10px 20px
  display: inline-flex
  align-items: center
.titulo-con-imagen__imagen
  position: absolute
  left: -20px
  width: 70px
  z-index: 5
  @media (min-width: 992px)
    left: -30px
    width: 85px
.titulo-con-imagen__texto
  margin: 0
  padding-left: 50px

.slider-wrapper
  position: relative
  .bg-fullwidth
    background-image: url(../assets/curso/common/bg-slider.png)
    background-position: center
    background-size: cover
    position: absolute
    top: -40px
    left: -47px
    bottom: -20px
    right: -60px
    width: calc( 100% + 96px )
    height: calc( 100% + 80px )
    border-radius: 20px
  .slyder-a__btn--atrs, .slyder-a__btn--sigt
    background-color: $color-acento-botones
    border-color: $color-acento-botones
    // background-image: url(../assets/bullets/arrow-white.svg)
  .slyder-a__bullets__item
    background-color: #678AEE
    border-color: #678AEE
    opacity: 0.5
    &--active
      opacity: 1

.linea-tiempo-d__item__content
  background-color: #D9D9D9

.linea-tiempo-d__item.row.linea-tiempo-d__item--selected
  .linea-tiempo-d__item__content
    background-color: #EFEFEF